<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>

    <title>Mi Perfil</title>
     <style>
            ul {
            list-style-type: none;
            padding: 0;
            margin: 20px;
        }
        li {
            background-color: #ffffff;
            padding: 10px;
            margin-bottom: 10px;
            border-radius: 5px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }
        li:nth-child(even) {
            background-color: #f2f2f2;
        }
        li:hover {
            background-color: #d9edf7;
        }
           h2 {
            background-color: #f2f2f2;
            color: #000000;
            padding: 10px;
            margin: 0;
            text-align: center;
        }
    </style>
</head>
<body id="samples">
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li><a href="/">Inicio</a></li>
            {% if authenticated == true %}
            <li><a id="profile-button" href="/profile">Mi Perfil</a></li>
            <li><a href="/show-tables">MYSQL</a></li>
            <li><a href="/show-tables-postgres">PostgreSQL</a></li>
            <li><a href="/form">Formulario</a></li> 
            <li><a href="/solicitudes">LLamadas</a></li>
            {% endif %}
        </ul>
        {% if authenticated == true %}
        <form method="post" action="/logout" class="navbar-form navbar-right">
            <button id="logout-button" type="submit" class="btn btn-danger">Cerrar Sesión</button>
        </form>
        {% endif %}
    </div>
</nav>

<div id="content" class="container">

    <div>
        <h2>Mi Perfil</h2>
        <p>Hola, <span>{{ profile.sub }}</span>. La información de abajo es obtenida gracias a tu  <a
                    href="https://developer.okta.com/docs/api/resources/oidc.html#get-user-information"
                    target="_blank">Access Token</a>.
        </p>

      </div>

      <table class="table table-striped">
        <thead>
          <tr>
            <th>Claim</th>
            <th>Value</th>
          </tr>
        </thead>
        <tbody>
        {% for key, claim in profile %}
          <tr>
                <td>{{ key }}</td>
              {% if key == "sub" %}
              <td id="claim-email">
              {% else %}
                <td id="claim-{{ key }}">
                {% endif %}
                    {% if claim is iterable %}
                    {% for item in claim %}
                    {{ item }}
                    {% endfor %}
                    {% else %}
                    {{ claim }}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
</body>
</html>